.side-menu
  %nav.side-menu__box
    %ul
      %li
        = link_to "#", class: "list active" do
          マイページ
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          お知らせ
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to new_product_path, class: "list" do
          出品する
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to delete_product_users_path, class: "list" do
          出品した商品-出品中
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          出品した商品-取引中
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          出品した商品-売却済み
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          購入した商品-取引中
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          購入した商品-過去の取引
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          ニュース一覧
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          評価一覧
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          ガイド
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          お問い合わせ
          %i.fa.fa-chevron-right.arrow-right
    %h3.setting
      設定
    %ul.mypage-nav__lists
      %li
        = link_to "#", class: "list" do
          プロフィール
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          発送元・お届け先住所変更
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to new_card_path, class: "list" do
          支払い方法
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to new_card_path, class: "list" do
          クレジットカード情報
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          本人情報
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to "#", class: "list" do
          電話番号の確認
          %i.fa.fa-chevron-right.arrow-right
      %li
        = link_to logout_page_users_path, class: "list" do
          ログアウト
          %i.fa.fa-chevron-right.arrow-right