= render "layouts/main-header" 

.main-container.clearfix
  = render "users/mypage-side"
  .main-content
    .main-content__products
      .main-content__products__heading あなたの出品した商品
    .main-content__each
      - @products.each do |product|
        = link_to product_path(product.id) do
          .main-content__each__list
            = image_tag product.images.first.image.to_s, alt: "test", class: "main-content__each__list__image"
            -if product.buyer_id.present? 
              .main-content__each__list__image__sold
                .main-content__each__list__image__sold__inner SOLD
            .main-content__each__list__price
              = product.price
              %p 円
            .main-content__each__list__product_name
              = product.title
= render "layouts/footer-publicity" 
= render "layouts/footer-introduction" 
= render "layouts/bottom-camera" 