= render "layouts/main-header" 

.main-container.clearfix
  = render "users/mypage-side"
  = render "users/mypage-main"

= render "layouts/footer-publicity" 
= render "layouts/footer-introduction" 
= render "layouts/bottom-camera" 