= render "layouts/main-header" 
.main-container.clearfix
  = render "users/mypage-side"
  .main-content
    %form.logout
      .logout__box
        %label
          = link_to destroy_user_session_path, method: :delete do
            %button.logout__box__btn
              ログアウト

= render "layouts/footer-publicity" 
= render "layouts/footer-introduction" 
= render "layouts/bottom-camera" 