= render "layouts/single-header" 

.login-container
  .login-container__content
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .login-form
        .login-form__group
        = f.email_field :email, autofocus: true, placeholder: 'メールアドレス', class: 'login-input'
        .login-form__group
        = f.password_field :password, autocomplete: "off", placeholder: 'パスワード', class: 'login-input'
        = f.submit "ログイン", class: 'login-btn'
        = link_to "#" do
          パスワードをお忘れの方

= render "layouts/single-footer" 
