= render "layouts/main-header" 

.purchase-container
  .purchase-container__content
    .purchase-container__content__box
      %h2.head-style 購入内容の確認
    .purchase-container__content__box
      .item-inner
        .item-inner__mask
          .item-inner__mask__image
            = image_tag "/"
        .item-info
          %p.item-name AAAAAAAA
          %p.item-money
            %span.fee 送料込み(税込)
            %span.price ¥5,000
    .purchase-container__content__box
      .payment-inner
        .payment-inner__pay
          %span.pay-text 支払い金額
          %span.sum ¥5,000
    .purchase-container__content__box
      .payment-method-inner
        .payment-method-inner__head
          %h3.method 支払い方法
          %a.method-fix 変更する
        .payment-method-inner__main
          %p クレジットカード
          %p ****************
          %p 有効期限
          = image_tag "/"
    .purchase-container__content__box
      .post-inner
        .post-inner__head
          %h3.post 配送先
          %a.post-fix 変更する
        .post-inner__address
          %p 〒999-999
          %p 大阪府大阪市
          %p user-name
    .purchase-container__content__box
      .buy-button
        購入する

= render "layouts/footer-publicity" 
= render "layouts/footer-introduction" 
= render "layouts/bottom-camera" 