= render "layouts/simple-header"

.container#clearfix
  .banner
    .banner__card
  .category
    .category__heading 人気のカテゴリー
    .category__group
      .category__group__item レディース
      .category__group__item メンズ
      .category__group__item 家電・スマホ・カメラ
      .category__group__item おもちゃ・ホビー・グッズ

  .top-main
    .products
      .products__heading レディース新着アイテム
      .products__more_btn もっと見る ＞
    .product
      = link_to "#", class: "product__flex" do
        - @product.each do |product|
          .product__flex__list
            = image_tag product.images.first.image, alt: "test", class: "product__flex__list__image"
            -if product.buyer_id.present? 
              .product__flex__list__image__sold
                .product__flex__list__image__sold__inner SOLD
            .product__flex__list__price
              = product.price
              %p 円
            .product__flex__list__product_name
              = product.title
= render "layouts/footer-publicity"
= render "layouts/footer-introduction"
= render "layouts/bottom-camera"