= render "layouts/main-header" 

%section.products-container
  %h1.products-name
    = @product.title
  .product-content.clearfix
    .product-content__photo
      .owl-carousel
        %ul.owl-stage
          - @product.images.each.with_index(1) do |image, index|
            %li.owl-item
              = image_tag image.image.to_s, class: "main-item-image"
            - if @product.buyer_id.present? 
              .sold
                .sold__text
                  SOLD
      %ul.owl-dots
        - @product.images.each.with_index(1) do |image, index|
          %li.owl-dot
            = image_tag image.image.to_s, class: "mini-item-image"
            
    %table.product-content__detail
      %tbody
        %tr
          %th 出品者
          %td 
            = link_to "#" do
              = @product.seller.nickname
            .item-user-raitings
              %i.fas.fa-grin
              %span 100
            .item-user-raitings
              %i.fas.fa-meh
              %span 200
            .item-user-raitings
              %i.fas.fa-frown
              %span 300
        %tr
          %th カテゴリー
          %td
            = link_to "#" do
              %div カテゴリー1
            = link_to "#" do
              %div カテゴリー100
            = link_to "#" do
              %div カテゴリー300
        %tr
          %th ブランド
          %td ブランドA
        %tr
          %th 商品の状態
          %td
            = @product.status
        %tr
          %th 配送料の負担
          %td
            = @product.delivery_person
        %tr
          %th 配送の方法
          %td
            = @product.delivery_way
        %tr
          %th 発送元地域
          %td
            = @product.from_area
        %tr
          %th 発送日の目安
          %td
            = @product.delivery_leadtime
  .product-price.text-center
    %span.product-price__tag.bold
      ¥ #{@product.price}
    %span.product-price__tax  (税込)
    %span.product-price__fee
      = @product.delivery_person

  - if user_signed_in? && current_user.id == @product.seller.id
    = link_to "#", class: "product-buy-btn" do
      編集する
    = link_to "#", class: "product-buy-btn" do
      削除する
  - elsif @product.buyer_id.present?
    = link_to "#", class: "disabeled-btn" do
      売り切れました
  - elsif user_signed_in? && current_user.id != @product.seller.id
    = link_to "#", class: "product-buy-btn" do
      購入画面に進む
  - else
    = link_to new_user_session_path, class: "product-buy-btn" do
      購入画面に進む

  .product-description
    %p.product-description__text
      = @product.introduction
  .product-button
    .product-button__left
      %button.btn.liked
        %i.fas.fa-star
          %span いいね!
          %span  99
      = link_to "#", class: "btn report" do
        %i.fas.fa-flag
          %span 不適切な商品の報告
    .product-button__right
      = link_to "#" do
        %i.fas.fa-unlock-alt
        %span あんしん・あんぜんへの取り組み

.product-comment
  .product-comment__container
    .product-comment__container__box
      .product-commnet__container__box__form
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %textarea.comment-textarea
        %button.comment-submit
          %span コメントする

= render "layouts/footer-publicity" 
= render "layouts/footer-introduction" 
= render "layouts/bottom-camera" 

