%footer.footer
  .footer__top
    .footer__top__about.footer-content
      %h2 FURIMAについて
      %ul
        %li
          = link_to "#" do
            会社概要（運営会社）
        %li
          = link_to "#" do
            プライバシーポリシー
        %li
          = link_to "#" do
            FURIMA利用規約
        %li
          = link_to "#" do
            ポイントに関する特約
    .footer__top__category.footer-content
      %h2 FURIMAを見る
      %ul
        %li
          = link_to "#" do
            カテゴリー一覧
        %li
          = link_to "#" do
            ブランド一覧
    .footer__top__helpguide.footer-content
      %h2 ヘルプ＆ガイド
      %ul
        %li
          = link_to "#" do
            FURIMAガイド
        %li
          = link_to "#" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to "#" do
            お知らせ
  .footer__bottom
    .footer__bottom__logo
      = link_to root_path do
        = image_tag "logo-white", alt: "アプリのロゴ"
    .footer__bottom__copyright
      %span © FURIMA