%footer.footer 
  %ul.footer__top 
    %li.footer__top__about 
      %h2.footer__top__about__head FURIMAについて 
      %ul 
        %li.footer__top__about__head__content 
          = link_to "#" do
            会社概要（運営会社） 
        %li.footer__top__about__head__content 
          = link_to "#" do
            プライバシーポリシー 
        %li.footer__top__about__head__content 
          = link_to "#" do
            FURIMA利用規約 
        %li.footer__top__about__head__content 
          = link_to "#" do
            ポイントに関する特約 
    %li.footer__top__about 
      %h2.footer__top__about__head FURIMAを見る 
      %ul 
        %li.footer__top__about__head__content 
          = link_to "#" do
            カテゴリー一覧 
        %li.footer__top__about__head__content 
          = link_to "#" do
            ブランド一覧 
    %li.footer__top__about 
      %h2.footer__top__about__head ヘルプ＆ガイド 
      %ul 
        %li.footer__top__about__head__content 
          = link_to "#" do
            FURIMAガイド 
        %li.footer__top__about__head__content 
          = link_to "#" do
            FURIMAロゴ利用ガイドライン 
        %li.footer__top__about__head__content 
          = link_to "#" do
            お知らせ 
  .footer__bottom 
    .footer__bottom__logo  
      = link_to root_path do
        = image_tag "logo/logo-white.png", alt: "アプリのロゴ" 
  .footer__bottom__copyright 
  %span © FURIMA 