.single-footer
  %ul.single-footer__lists
    %li.single-footer__lists__list
      = link_to '#' do
        プライバシーポリシー
    %li.single-footer__lists__list
      = link_to '#' do
        FURIMA利用規約
    %li.single-footer__lists__list
      = link_to '#' do
        特定商取引に関する表記
  .single-footer__logo
    = link_to '#', class: "single-footer__logo__link" do
      = image_tag "logo/logo-white.png", class: "single-footer__logo__link__image", size: "224x65"
  .single-footer__text
    %p © FURIMA, Inc.
